.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-wrapper {
    width: 1511px;
    height: 1024px;
  }
  
  .frame .overlap {
    position: relative;
    height: 1024px;
  }
  
  .frame .desktop {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 71px;
    background-color: #edecea;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 1440px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .frame .text-wrapper {
    position: absolute;
    top: 46px;
    left: 44px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #83bb00;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div {
    position: absolute;
    width: 102px;
    top: 62px;
    left: 560px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 217px;
    top: 62px;
    left: 718px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 189px;
    top: 62px;
    left: 978px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    width: 157px;
    top: 62px;
    left: 403px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 109px;
    height: 60px;
    top: 45px;
    left: 1287px;
  }
  
  .frame .iconamoon-profile {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 49px;
  }
  
  .frame .material-symbols {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 0;
  }
  
  .frame .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 270px;
    top: 150px;
    left: 0;
    background-color: #83bb00;
  }
  
  .frame .ellipse {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 60px;
    left: 645px;
    background-color: #efefef;
    border-radius: 75px;
  }
  
  .frame .vector {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 90px;
    left: 682px;
  }
  
  .frame .overlap-group-2 {
    position: absolute;
    width: 1440px;
    height: 280px;
    top: 420px;
    left: 0;
    background-color: #fafafa;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    top: 109px;
    left: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-7 {
    position: absolute;
    top: 188px;
    left: 30px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-8 {
    position: absolute;
    top: 30px;
    left: 1242px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-9 {
    position: absolute;
    top: 109px;
    left: 1242px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .jl-garuda-rt {
    position: absolute;
    top: 196px;
    left: 1022px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .line {
    top: 515px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .frame .img {
    top: 593px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  